.container {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}
.btn {
  height: max-content;
}
p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
