:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 5px;
  font-size: 1em;

  font-family: inherit;

  cursor: pointer;
}
